.avatar {
  display: inline-block;
  place-content: center;
  padding: var(--p-sm);
  outline: 1px solid red;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}
.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: slide-in 0.3s ease-out, fade-out 0.5s ease-out 3s forwards;

  &.success {
    border-left: 4px solid blue;
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
    color: blue;
  }

  &.error {
    border-left: 4px solid red;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
    color: red;
  }

  .toast-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .close-button {
    background: none;
    border: none;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-50%) translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

