.classroom {
  p {
    margin-top: var(--p-md);
  }
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--p-md);
}
.overview{
    display: flex;
}
.newTaskCard {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: url("/static/images/backgrounds/campaignAdd.png");
  background-color: var(--bluePrimary);
  background-position: center;
  background-size: cover;
  background-color: no-repeat;
  padding: var(--p-md) var(--p-lg-2);
  border-radius: 8px;
  //TODO:move this to textstyles
  p{
    color:white;
    font-size:18px ;
    font-weight: 500;
  }
}
